<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">Security demo</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active"
        *ngIf="auth.isAuthenticated()">
      <a class="nav-link" routerLink="private">Private</a>
    </li>
    <li class="nav-item" routerLinkActive="active"
        *ngIf="auth.isAuthenticated() && auth.userHasScopes(['read:user'])">
      <a class="nav-link" routerLink="user">User</a>
    </li>
    <li class="nav-item" routerLinkActive="active"
        *ngIf="auth.isAuthenticated() && auth.userHasScopes(['read:admin'])">
      <a class="nav-link" routerLink="admin">Admin</a>
    </li>

  </ul>

  <ul class="navbar-nav ml-auto">
    <li *ngIf="!auth.isAuthenticated()">
      <button class="btn btn-sm btn-outline-success"

              (click)="auth.login()">Log in
      </button>
    </li>
    <li *ngIf="auth.isAuthenticated()">
      <button class="btn btn-sm btn-outline-danger"
              (click)="auth.logout()">Log out
      </button>
    </li>
  </ul>
</nav>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
